<article class="blog-preview">
  <a href="/blog/{{ post.slug }}">
    <div class="top-split">
      <p class="title">{{ post.title }}</p>
      <div class="date">{{ post.date }}</div>
    </div>

    <p class="description">{{ post.description }}</p>

    <div class="tags">
      {% for tag in post.tags %}
        <span>
          #{{ tag }}
        </span>
      {% endfor %}
    </div>
  </a>
</article>
