{% extends "layouts/base.tera" %}

{% block title %}{% set title = "Blog" %}{% endblock %}
{% block description %}{% set description = "The parts of my life that I put out into the world" %}{% endblock %}

{% block main %}
<div class="reusable-header">
  <h1 class="title">
    {{ title }}
    {% if tag %} > 🏷️
    <span class="text-special">{{ tag }}</span>
    {% endif %}
  </h1>
  <h2 class="description">{{ description }}</h2>
</div>

<form name="tags" id="form-tags">
  <label for="tags">Filter by 🏷️ tag: </label>
  <select
    name="tags"
    id="tags"
    aria-label="Filter by tag"
    onchange="window.location.href = this.value"
  >
    <option value="/blog">all</option>
    {% for tag in tags %}
      <option value="/blog/tag/{{ tag }}" {% if tag == current_tag %}selected="false"{% endif %}>
        {{ tag }}
      </option>
    {% endfor %}
  </select>
</form>

<div class="blog-previews">
  {% for post in posts %}
    {% include "partials/blogpreview.tera" %}
  {% endfor %}
<div>
{% endblock %}
