{{define "title"}}Blog{{end}}
{{define "description"}}The parts of my life that I put out into the world{{end}} 
{{define "additionalhead"}}{{end}}

{{define "main"}}
<section class="flex flex-col gap-4">
  <div class="pb-4">
    <h1 class="text-4xl font-bold">{{template "title" .}} {{if .Tag}} > 🏷️ <span class="text-special">{{.Tag}}</span>{{end}} </h1>
    <h2 class="text-xl text-fg-lighter">{{template "description" .}}</h2>
  </div>

  <div class="flex flex-row justify-between gap-2">
    {{if .Tag}}
    <a href="/blog" class="text-special hover:underline">🏠 All</a>
    {{else}}
    <span class="font-semibold text-text">🏠 All</span>
    {{end}}
    {{range .Tags}}
    {{if eq . $.Tag}}
    <span class="font-semibold text-text">🏷️ {{.}}</span>
    {{else}}
    <a href="/blog/tag/{{.}}" class="text-special hover:underline">🏷️ {{.}}</a>
    {{end}}
    {{end}}
  </div>
  
  {{range .Posts}} {{template "blogpreview" .}} {{end}}
  
</section>
{{end}}
