{% extends "layouts/base.tera" %}

{% block title %}{% set title = "Error " ~ code %}{% endblock %}
{% block description %}{% set description = title %}{% endblock %}
{% block url %}error{% endblock %}

{% block main %}
<section>
  <img
    src="https://http.cat/images/{{ code }}.jpg"
    alt="Error {{ code }}"
  />
</section>
{% endblock %}
