{{define "title"}}Error {{.Code}}{{end}}
{{define "description"}}{{template "title" .}}{{end}}
{{define "additionalhead"}}{{end}}

{{define "main"}}
<section class="flex flex-col gap-4">
  <img
    src="https://http.cat/images/{{.Code}}.jpg"
    alt="{{.Code}}"
    class="w-1/2 mx-auto"
  />
</section>
{{end}}
