{{define "title"}}Isabel Roses{{end}}
{{define "description"}}A website documenting my development journey{{end}}
{{define "additionalhead"}}{{end}}

{{define "main"}}
<div class="prose">
  <h1 class="text-4xl font-extrabold text-center text-fg">
    <span class="hidden md:inline-flex">👋</span> Hello, I&apos;m
    <span class="text-special bg-clip-text">Isabel</span>
  </h1>
  <p>
    I am currently studying computer science, as a first year student at
    Aberystwyth University. I am interested in the terminal, and am currently
    learning go, infact this website is written in go. Furthermore, I am also
    currently obssessed with nix, and I am learning it in my
    spare time and in the remaining time I work on <a target="_blank" href="https://github.com/catppuccin/catppuccin">Catppuccin</a>.
  </p>

  <p>
    You can find some of my bigger projects at
    <a href="/projects">projects page</a> or on my
    <a
      target="_blank"
      href="https://github.com/isabelroses?tab=repositories&type=source"
     >
       GitHub
     </a>.
  </p>

  <p>
    Or perhaps you would like to learn more about how I think, my workflow and
    much more over at my <a href="/blog">blog</a>.
  </p>

  <h2 class="mb-3 text-2xl">📧 You can reach me at</h2>

  <ul>
    <li><a target="_blank" href="https://isabel.contact">Quick Contact</a></li>
    <li>Discord: <a class="text-sapphire" href="https://discord.gg/8RVhHeJH3x">isabelroses</a>, the link here is to my discord server</li>
    <li>Fedi: <a class="text-sapphire" href="https://akko.isabelroses.com/isabel">@isabel@akko.isabelroses.com</a></li>
    <li>
      <a target="_blank" href="mailto:me@isabelroses.com">Email me [at] isabelroses [dot] com</a>
    </li>
  </ul>
</div>
{{end}}
