#form-tags {
  padding-bottom: 2rem;

  select {
    border: var(--border, var(--default-border));
    background: transparent;
    color: var(--fg);
  }
}

.readtime {
  color: var(--fg-lighter);
  font-size: 1rem;
}
