.post-header {
  display: flex;
  flex-direction: row;

  .left {
    flex: 1;
  }

  .right {
    text-align: right;
  }

  .date {
    font-size: 1.25rem;
    color: var(--fg-lighter);
  }
}

#comments {
  padding-bottom: 2rem;
}
