@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-fg: #d1d5db;
  --color-fg-lighter: #9ca3af;

  --color-bg: #000;
  --color-bg-lighter: #020202;

  --color-card: #1f1f1f;
  --color-special: var(--color-blue);

  --color-blue: #74c7ec;
  --color-green: #a6e3a1;
  --color-yellow: #f9e2af;
  --color-purple: #cba6f7;
  --color-red: #f38ba8;
}

@layer utilities {
  .prose {
    --tw-prose-body: var(--color-fg);
    --tw-prose-headings: var(--color-fg);
    --tw-prose-code: var(--color-fg);
    --tw-prose-pre-bg: var(--color-card);
    --tw-prose-bold: var(--color-fg);
    --tw-prose-quotes: var(--color-fg);
    --tw-prose-quote-borders: var(--color-card);
    --tw-prose-bullets: var(--color-fg);
    --tw-prose-hr: var(--color-fg);
    --tw-prose-captions: var(--color-card);
    --tw-prose-th-borders: var(--color-card);
    --tw-prose-td-borders: var(--color-fg);
    --tw-prose-links: var(--color-special);

    :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *, pre code)) {
      @apply bg-bg-lighter rounded-sm ring-1 ring-inset ring-card px-1 py-[0.2rem] font-normal;
    }

    :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::before,
    :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::after {
      content: none;
    }

    @apply md:max-w-[65ch] max-w-[80vw];
  }

  .pill {
    @apply ring-inset text-sm ring-1 ring-card px-2 rounded-full text-special;
  }

  .icon {
    @apply h-6 w-6 fill-fg;
  }

  .align-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .5rem;
    padding-block: .2rem;
  }
}

@layer base {
  [data-theme="dark"] {
    --color-fg: #d1d5db;
    --color-fg-lighter: #9ca3af;

    --color-bg: #000;
    --color-bg-lighter: #050505;

    --color-card: #1f1f1f;
    --color-special: var(--color-blue);

    --color-blue: #74c7ec;
    --color-green: #a6e3a1;
    --color-yellow: #f9e2af;
    --color-purple: #cba6f7;
    --color-red: #f38ba8;
  }

  [data-theme="cuddlefish"] {
    --color-fg: #CED1F0;
    --color-fg-lighter: #B6B8DE;

    --color-bg: #0E0F15;
    --color-bg-lighter: #14161D;

    --color-card: #1E1F2A;
    --color-special: var(--color-blue);

    --color-blue: #83C4E6; /* snow */
    --color-green: #91E478;
    --color-yellow: #EDE874;
    --color-purple: #8B79E8;
    --color-red: #F6598E;
  }

  [data-theme="light"] {
    --color-fg: #3a3d4a;
    --color-fg-lighter: #555a6b;

    --color-bg: #f8f9fc;
    --color-bg-lighter: #eaeef3;

    --color-card: #d0d5df;
    --color-special: var(--blue);

    --color-blue: #1a90c4;
    --color-green: #40a02b;
    --color-yellow: #df8e1d;
    --color-purple: #8839ef;
    --color-red: #d20f39;

    .astro-code,
    .astro-code span {
      color: var(--shiki-light) !important;
      background-color: var(--shiki-light-bg) !important;
      /* Optional, if you also want font styles */
      font-style: var(--shiki-light-font-style) !important;
      font-weight: var(--shiki-light-font-weight) !important;
      text-decoration: var(--shiki-light-text-decoration) !important;
    }
  }

  [data-theme="catppuccin_mocha"] {
    --color-fg: #cdd6f4;
    --color-fg-lighter: #a6adc8;

    --color-bg: #181825;
    --color-bg-lighter: #1e1e2e;

    --color-card: #313244;
    --color-special: var(--color-blue);

    --color-blue: #74c7ec;
    --color-green: #a6e3a1;
    --color-yellow: #f9e2af;
    --color-purple: #cba6f7;
    --color-red: #f38ba8;

    .astro-code,
    .astro-code span {
      color: var(--shiki-catppuccin_mocha_dark) !important;
      background-color: var(--shiki-catppuccin_mocha-bg) !important;
      /* Optional, if you also want font styles */
      font-style: var(--shiki-catppuccin_mocha-font-style) !important;
      font-weight: var(--shiki-catppuccin_mocha-font-weight) !important;
      text-decoration: var(--shiki-catppuccin_mocha-text-decoration) !important;
    }
  }

  [data-theme="catppuccin_macchiato"] {
    --color-fg: #cad3f5;
    --color-fg-lighter: #a5adcb;

    --color-bg: #1e2030;
    --color-bg-lighter: #24273a;

    --color-card: #363a4f;
    --color-special: var(--color-blue);

    --color-blue: #7dc4e4;
    --color-green: #a6da95;
    --color-yellow: #eed49f;
    --color-purple: #c6a0f6;
    --color-red: #ed8796;

    .astro-code,
    .astro-code span {
      color: var(--shiki-catppuccin_macchiato) !important;
      background-color: var(--shiki-catppuccin_macchiato-bg) !important;
      /* Optional, if you also want font styles */
      font-style: var(--shiki-catppuccin_macchiato-font-style) !important;
      font-weight: var(--shiki-catppuccin_macchiato-font-weight) !important;
      text-decoration: var(
        --shiki-catppuccin_macchiato-text-decoration
      ) !important;
    }
  }

  [data-theme="catppuccin_frappe"] {
    --color-fg: #c6d0f5;
    --color-fg-lighter: #a5adce;

    --color-bg: #292c3c;
    --color-bg-lighter: #303446;

    --color-card: #414559;
    --color-special: var(--color-blue);

    --color-blue: #85c1dc;
    --color-green: #a6d189;
    --color-yellow: #e5c890;
    --color-purple: #ca9ee6;
    --color-red: #e78284;

    .astro-code,
    .astro-code span {
      color: var(--shiki-catppuccin_frappe) !important;
      background-color: var(--shiki-catppuccin_frappe-bg) !important;
      /* Optional, if you also want font styles */
      font-style: var(--shiki-catppuccin_frappe-font-style) !important;
      font-weight: var(--shiki-catppuccin_frappe-font-weight) !important;
      text-decoration: var(
        --shiki-catppuccin_frappe-text-decoration
      ) !important;
    }
  }

  [data-theme="catppuccin_latte"] {
    --color-fg: #4c4f69;
    --color-fg-lighter: #6c6f85;

    --color-bg: #eff1f5;
    --color-bg-lighter: #e6e9ef;

    --color-card: #ccd0da;
    --color-special: var(--color-blue);

    --color-blue: #209fb5;
    --color-green: #40a02b;
    --color-yellow: #df8e1d;
    --color-purple: #8839ef;
    --color-red: #d20f39;

    .astro-code,
    .astro-code span {
      color: var(--shiki-catppuccin_latte) !important;
      background-color: var(--shiki-catppuccin_latte-bg) !important;
      /* Optional, if you also want font styles */
      font-style: var(--shiki-catppuccin_latte-font-style) !important;
      font-weight: var(--shiki-catppuccin_latte-font-weight) !important;
      text-decoration: var(--shiki-catppuccin_latte-text-decoration) !important;
    }
  }

  [data-theme="evergarden"] {
    --color-fg: #dddecf;
    --color-fg-lighter: #94aaa0;

    --color-bg: #1c2225;
    --color-bg-lighter: #232a2e;

    --color-card: #313b40;
    --color-special: var(--color-blue);

    --color-blue: #9bb5cf;
    --color-purple: #e3a8d1;
    --color-red: #e67e80;
    --color-yellow: #dbbc7f;
    --color-green: #b2c98f;
  }
}
