.header-link {
  border: var(--border, var(--default-border));
  padding: 0.5rem;
}

.theme-switcher {
  border: var(--border, var(--default-border));
  padding: 0.5rem;

  #themes {
    border: none;
    color: var(--fg);
    background: transparent;
    width: 100%;
    height: 100%;
  };
}

.align-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}

.align-header-split {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  .right {
    margin-left: auto;
  }
}

#hamburger {
  display: none;
  border: var(--border, var(--default-border));
  padding: 0.5rem;
  color: var(--fg);
}

@media (max-width: 480px) {
  .align-header-split {
    flex-direction: column;

    .right {
      margin-left: 0;
    }
  }

  .header, .align-header {
    flex-direction: column;
  }

  .header-link, #themes {
    text-align: center;
  }

  #hamburger {
    display: block;
  }

  nav:not(.nav-open) {
    display: none;
    animation: slideUp 0.5s ease-in-out forwards;
  }

  nav.nav-open {
    animation: slideDown 0.5s ease-in-out forwards;
  }

  header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

@keyframes slideDown {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(-100%);
  }
  25% {
    opacity: 1;
  }
  100% {
    display: block;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
    display: block;
  }
  75% {
    display: none;
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
