.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-bottom: 2rem;
}

@container main-page (width < 768px) {
  .projects {
    grid-template-columns: 1fr;
  }
}

.project {
  border: var(--border, var(--default-border));
  position: relative;
  display: flex;
  height: 8rem;

  .project-fg {
    display: flex;
    flex-direction: row;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .project-right {
    padding-left: 1rem;
    flex: 1;
  }

  .project-main-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .project-title {
    font-size: 2rem;
    font-weight: bold;
  }

  .project-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: opacity(0.35);
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
  }

  .project-icons {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }

  .project-icon {
    aspect-ratio: 1/1;
  }
}


@container main-page (width < 768px) {
  .project {
    .project-right {
      padding-left: 0.5rem;
    }

    .project-icons {
      padding-right: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
}
