---
import Default from "../layouts/Default.astro";
---

<Default title="Error 404" description="Page not found">
  <section>
    <img
      src="https://http.cat/images/404.jpg"
      alt="Error 404"
    />
  </section>
</Default>
