---
import Default from '../layouts/Default.astro';
import Title from '../components/Title.astro';
import Project from '../components/Project.astro';
import { PROJECTS } from '../consts';

const title = "Projects";
const description = "A collection of projects that I maintain";
---

<Default title={title} description={description}>
  <section class="flex flex-col gap-4 mb-16">
    <Title title={title} description={description} size="lg" />

    <div class="flex flex-col gap-4">
      { PROJECTS.map((project) => (
        <Project {...project} />
      )) }
    </div>
  </section>
</Default>
