---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section class="flex flex-col gap-4">
  <slot name="back" />
  <h1 class="text-3xl font-bold lowercase tracking-tight">
    {title}
  </h1>
  <slot />
</section>
