---
import { Icon } from 'astro-icon/components';

interface Props {
  name: string;
  description: string;
  href?: string;
  repo?: string;
}

const { name, description, href, repo } = Astro.props;

const link = href || repo;
---

<a
  class="bg-bg-lighter ring-inset ring-1 ring-card p-4 rounded-xl transition duration-200 ease-in-out hover:scale-105"
  href={link}
  target="_blank"
  rel="noopener noreferrer"
>
  <div class="flex flex-col gap-2 mb-4" >
    <div class="flex flex-row gap-2 items-center">
      <h1 class="text-lg">{name}</h1>
      { href ? (
        <Icon name="fa6-solid:globe" class="icon w-4! h-4!" />
      ) : (
        <Icon name="fa6-brands:github" class="icon w-4! h-4!" />
      )}
    </div>

    <h2 class="text-md">{description}</h2>
  </div>
</div>
