---
import Title from './Title.astro';
import { Icon } from 'astro-icon/components';

interface Props {
  banner?: string;
  icon?: string;
  name: string;
  href?: string;
  repo?: string;
  description?: string;
}

const { banner, icon, name, href, repo, description } = Astro.props;
---

<div class="bg-bg w-full ring-inset ring-1 ring-card p-4 rounded-xl lg:w-2xl md:w-xl lg:h-xl md:h-md relative">
  { banner && (
    <img
      src=`/repos/${banner}`
      alt={ `${ name }'s banner` }
      class="absolute top-0 left-0 w-full object-cover h-full rounded-xl opacity-20 z-0"
    />
  )}

  <div class="z-1 flex flex-col h-full relative">
    <Title title={name} description={description} size="xs" />

    <div class="flex flex-row gap-2 justify-end">
      { href && (
      <a href={href} aria-label=`${ name }'s website`>
        <Icon name="fa6-solid:globe" class="hover:text-special icon" />
      </a>
      )}

      {repo && (
      <a href={ repo }  aria-label=`${ name }'s repo`>
        <Icon name="fa6-brands:github" class="hover:text-special icon" />
      </a>
      )}
    </div>
  </div>
</div>
