{{define "blogpreview"}}
<article>
  <a
    class="box-border flex flex-row w-full gap-4 px-4 py-5 overflow-auto overflow-x-hidden text-left shadow-xl bg-card sm:w-full min-w-80 rounded-2xl"
    href="/blog/{{.Slug}}"
  >
    <div class="flex flex-col gap-2">
      <p class="text-lg">{{.Title}}</p>
      <p class="text-fg-lighter">{{.Description}}</p>
    </div>

    <div class="flex flex-col self-end gap-2 ml-auto text-sm">
      <div class="text-xs text-right text-fg-lighter">{{.Date}}</div>

      <div class="flex-row hidden gap-2 md:flex">
        {{range .Tags}}
        <div class="tag">
          {{.}}
          <div class="tag-after"></div>
        </div>
        {{end}}
      </div>
    </div>
  </a>
</article>
{{end}}
