body {
  min-height: 100vh;
  padding: 4rem;

  color: var(--fg);
  background-color: var(--bg);

  font-family: system-ui, sans-serif;

  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  body {
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.main-page {
  flex: 1;
  container: main-page / inline-size;
}

.post-header:has(+ article.prose),
article.prose {
  width: 768px;
  margin: auto;
}

@container main-page (width < 768px) {

  .post-header:has(+ article.prose),
  article.prose {
    width: auto;
  }
}

a {
  color: var(--special);
  text-decoration: none;

  &:hover {
    color: var(--special);
    text-decoration: underline;
  }
}
