---
import BaseHead from "@components/BaseHead.astro";
import ThemeSwitcher from "@components/ThemeSwitcher.astro";

interface Props {
  title: string;
  description: string;
  image?: string;
}

const props = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead {...props} />
  </head>

  <body
    class="bg-bg text-fg min-h-screen p-4 pt-16 pb-24 leading-relaxed flex flex-col items-center"
  >
    <slot />
    <ThemeSwitcher />
  </body>
</html>
