---
import BaseHead from "@components/BaseHead.astro";
import ThemeSwitcher from "@components/ThemeSwitcher.astro";

interface Props {
  title: string;
  description: string;
  image?: string;
  aturi?: string;
}

const props = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead {...props} />
  </head>

  <body
    class="bg-bg text-fg font-serif min-h-screen p-4 sm:p-8 pb-24 leading-relaxed flex flex-col items-center"
  >
    <main
      class="relative flex flex-col items-center w-full max-w-4xl my-6 sm:my-10 px-5 py-10 sm:px-12 sm:py-14 border border-fg-lighter/25 outline outline-1 outline-offset-[6px] outline-fg-lighter/15"
    >
      <span
        class="pointer-events-none select-none absolute top-0 left-0 -translate-x-1/2 -translate-y-1/2 inline-flex items-center justify-center text-special/70 text-xs leading-none"
        aria-hidden="true">✦</span
      >
      <span
        class="pointer-events-none select-none absolute top-0 right-0 translate-x-1/2 -translate-y-1/2 inline-flex items-center justify-center text-special/70 text-xs leading-none"
        aria-hidden="true">✦</span
      >
      <span
        class="pointer-events-none select-none absolute bottom-0 left-0 -translate-x-1/2 translate-y-1/2 inline-flex items-center justify-center text-special/70 text-xs leading-none"
        aria-hidden="true">✦</span
      >
      <span
        class="pointer-events-none select-none absolute bottom-0 right-0 translate-x-1/2 translate-y-1/2 inline-flex items-center justify-center text-special/70 text-xs leading-none"
        aria-hidden="true">✦</span
      >
      <slot />
    </main>
    <ThemeSwitcher />
  </body>
</html>
