.prose {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h1 {
    font-size: 2.5rem;
    line-height: 3rem;

    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.5rem;

    padding-bottom: .5rem;
    padding-top: 1rem;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 2rem;

    padding-bottom: .5rem;
    padding-top: 1rem;
  }

  ol, ul {
    padding-left: 2rem;
  }

  p {
    padding-bottom: .25rem;
  }

  pre:has(code) {
    padding: 1rem;
    background-color: var(--bg-lighter);
    border: var(--border, var(--default-border));
    line-height: 1.25rem;
  }
}

.text-special {
  color: var(--special);
}
