.prose {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h1 {
    font-size: 2.5rem;
    line-height: 3rem;

    margin-block: 1rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.5rem;

    margin-block: 1rem .5rem;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 2rem;

    margin-block: 1rem .5rem;
  }

  ol, ul {
    padding-left: 1rem;
    list-style-position: inside;
  }

  p {
    padding-bottom: .25rem;
    line-height: 1.6rem;
  }

  pre:has(code) {
    padding: 1rem;
    background-color: var(--bg-lighter);
    border: var(--border, var(--default-border));
    line-height: 1.25rem;
    text-wrap: wrap;
  }

  // inline code
  p > code {
    background: var(--bg-lighter);
    color: var(--fg-lighter);
    padding-inline: .3rem;
    padding-block: .15rem;
  }
}

.text-special {
  color: var(--special);
}
