@use 'highlighting/catppuccin_mocha.scss';
@use 'highlighting/catppuccin_macchiato.scss';
@use 'highlighting/catppuccin_frappe.scss';
@use 'highlighting/catppuccin_latte.scss';

.theme-dark {
  --fg: #d1d5db;
  --fg-lighter: #9ca3af;

  --bg: #000;
  --bg-lighter: #121212;

  --card: #1f1f1f;
  --special: var(--blue);

  --blue: #74c7ec;
  --green: #a6e3a1;
  --yellow: #f9e2af;
  --purple: #cba6f7;
  --red: #f38ba8;
}

.theme-light {
  --fg: #3a3d4a;
  --fg-lighter: #555a6b;

  // for light themes we usually invert bg-lighter and bg
  --bg: #f8f9fc;
  --bg-lighter: #eaeef3;

  --card: #d0d5df;
  --special: var(--blue);

  --blue: #1a90c4;
  --green: #40a02b;
  --yellow: #df8e1d;
  --purple: #8839ef;
  --red: #d20f39;
}

.theme-ctp-mocha {
  --fg: #cdd6f4;
  --fg-lighter: #a6adc8;

  --bg: #181825;
  --bg-lighter: #1e1e2e;

  --card: #313244;
  --special: var(--blue);

  --blue: #74c7ec;
  --green: #a6e3a1;
  --yellow: #f9e2af;
  --purple: #cba6f7;
  --red: #f38ba8;
}

.theme-ctp-macchiato {
  --fg: #cad3f5;
  --fg-lighter: #a5adcb;

  --bg: #1e2030;
  --bg-lighter: #24273a;

  --card: #363a4f;
  --special: var(--blue);

  --blue: #7dc4e4;
  --green: #a6da95;
  --yellow: #eed49f;
  --purple: #c6a0f6;
  --red: #ed8796;
}

.theme-ctp-frappe {
  --fg: #c6d0f5;
  --fg-lighter: #a5adce;

  --bg: #292c3c;
  --bg-lighter: #303446;

  --card: #414559;
  --special: var(--blue);

  --blue: #85c1dc;
  --green: #a6d189;
  --yellow: #e5c890;
  --purple: #ca9ee6;
  --red: #e78284;
}

.theme-ctp-latte {
  --fg: #4c4f69;
  --fg-lighter: #6c6f85;

  --bg: #eff1f5;
  --bg-lighter: #e6e9ef;

  --card: #ccd0da;
  --special: var(--blue);

  --blue: #209fb5;
  --green: #40a02b;
  --yellow: #df8e1d;
  --purple: #8839ef;
  --red: #d20f39;
}

.theme-evg {
  --fg: #dddecf;
  --fg-lighter: #94AAA0;

  --bg: #1C2225;
  --bg-lighter: #232A2E;

  --card: #313B40;
  --special: var(--blue);

  --blue: #9BB5CF;
  --purple: #e3a8d1;
  --red: #e67e80;
  --yellow: #dbbc7f;
  --green: #b2c98f;
}

.theme-carburetor {
  --fg: #f4f4f4;
  --fg-lighter: #cac5c4;

  --bg: #161616;
  --bg-lighter: #0b0b0b;

  --card: #272525;
  --special: var(--blue);

  --blue: #78a9ff;
  --green: #42be65;
  --yellow: #fddc69;
  --purple: #d4bbff;
  --red: #fa4d56;
}

:root {
  --default-border: 2px solid var(--card);
}
