[data-theme="dark"] {
  --fg: #d1d5db;
  --fg-lighter: #9ca3af;

  --bg: #000;
  --bg-lighter: #121212;

  --card: #1f1f1f;
  --special: var(--blue);

  --blue: #74c7ec;
  --green: #a6e3a1;
  --yellow: #f9e2af;
  --purple: #cba6f7;
  --red: #f38ba8;

  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

[data-theme="light"] {
  --fg: #3a3d4a;
  --fg-lighter: #555a6b;

  // for light themes we usually invert bg-lighter and bg
  --bg: #f8f9fc;
  --bg-lighter: #eaeef3;

  --card: #d0d5df;
  --special: var(--blue);

  --blue: #1a90c4;
  --green: #40a02b;
  --yellow: #df8e1d;
  --purple: #8839ef;
  --red: #d20f39;

  .astro-code,
  .astro-code span {
    color: var(--shiki-light) !important;
    background-color: var(--shiki-light-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-light-font-style) !important;
    font-weight: var(--shiki-light-font-weight) !important;
    text-decoration: var(--shiki-light-text-decoration) !important;
  }
}

[data-theme="catppuccin_mocha"] {
  --fg: #cdd6f4;
  --fg-lighter: #a6adc8;

  --bg: #181825;
  --bg-lighter: #1e1e2e;

  --card: #313244;
  --special: var(--blue);

  --blue: #74c7ec;
  --green: #a6e3a1;
  --yellow: #f9e2af;
  --purple: #cba6f7;
  --red: #f38ba8;
}

[data-theme="catppuccin_macchiato"] {
  --fg: #cad3f5;
  --fg-lighter: #a5adcb;

  --bg: #1e2030;
  --bg-lighter: #24273a;

  --card: #363a4f;
  --special: var(--blue);

  --blue: #7dc4e4;
  --green: #a6da95;
  --yellow: #eed49f;
  --purple: #c6a0f6;
  --red: #ed8796;

  .astro-code,
  .astro-code span {
    color: var(--shiki-catppuccin_macchiato) !important;
    background-color: var(--shiki-catppuccin_macchiato-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-catppuccin_macchiato-font-style) !important;
    font-weight: var(--shiki-catppuccin_macchiato-font-weight) !important;
    text-decoration: var(--shiki-catppuccin_macchiato-text-decoration) !important;
  }
}

[data-theme="catppuccin_frappe"] {
  --fg: #c6d0f5;
  --fg-lighter: #a5adce;

  --bg: #292c3c;
  --bg-lighter: #303446;

  --card: #414559;
  --special: var(--blue);

  --blue: #85c1dc;
  --green: #a6d189;
  --yellow: #e5c890;
  --purple: #ca9ee6;
  --red: #e78284;

  .astro-code,
  .astro-code span {
    color: var(--shiki-catppuccin_frappe) !important;
    background-color: var(--shiki-catppuccin_frappe-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-catppuccin_frappe-font-style) !important;
    font-weight: var(--shiki-catppuccin_frappe-font-weight) !important;
    text-decoration: var(--shiki-catppuccin_frappe-text-decoration) !important;
  }
}

[data-theme="catppuccin_latte"] {
  --fg: #4c4f69;
  --fg-lighter: #6c6f85;

  --bg: #eff1f5;
  --bg-lighter: #e6e9ef;

  --card: #ccd0da;
  --special: var(--blue);

  --blue: #209fb5;
  --green: #40a02b;
  --yellow: #df8e1d;
  --purple: #8839ef;
  --red: #d20f39;

  .astro-code,
  .astro-code span {
    color: var(--shiki-catppuccin_latte) !important;
    background-color: var(--shiki-catppuccin_latte-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-catppuccin_latte-font-style) !important;
    font-weight: var(--shiki-catppuccin_latte-font-weight) !important;
    text-decoration: var(--shiki-catppuccin_latte-text-decoration) !important;
  }
}

[data-theme="evergarden"] {
  --fg: #dddecf;
  --fg-lighter: #94aaa0;

  --bg: #1c2225;
  --bg-lighter: #232a2e;

  --card: #313b40;
  --special: var(--blue);

  --blue: #9bb5cf;
  --purple: #e3a8d1;
  --red: #e67e80;
  --yellow: #dbbc7f;
  --green: #b2c98f;
}

:root {
  --default-border: 2px solid var(--card);
}
